<button (click)="queryVehicleTypes()">Fetch ALL Types</button>

<hr>
<button class="button-add" mat-button mat-raised-button (click)="addVehicleType()">Add Type</button>

<div *ngFor="let current of vehicleTypes">
  <mat-card (click)="vehicleTypeDetail(current)" class="mat-elevation-z4">
    <mat-card-title-group>
      <mat-card-title>{{ current.name }}</mat-card-title>
      <mat-card-subtitle>{{ current.description }}</mat-card-subtitle>

      <mat-card-content *ngIf="current.image && current.image !== undefined">
        <img src="{{ current.image }}" width="125rem" alt="N/A">
      </mat-card-content>
    </mat-card-title-group>

    <mat-card-actions>
      <button class="button-remove" mat-button mat-raised-button (click)="removeVehicleType(current)">Remove Type
      </button>
    </mat-card-actions>
  </mat-card>
</div>
